.about-section {
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background: linear-gradient(45deg, #e0d254, #8d7c78, #dfaa9c, #c0c26a);
  background-size: 400% 400%;
  z-index: -1;
  animation: gradientAnimation 10s ease infinite;
}

.about-content {
  padding-top: 6%;
  display: flex;
  max-width: 1200px;
  width: 100%;
  gap: 30px;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.profile-main-img {
  width: 300px; /* Make the image slightly larger */
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Add shadow */
  border: 5px solid #ddd; /* Add border */
  object-fit: cover;
}

.text-container {
  flex: 2;
  text-align: left;
}

.profile-name {
  font-size: 2em;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.profile-role {
  font-size: 1.2em;
  color: #555;
  margin-top: 5px;
}

.blurb {
  margin: 20px 0;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Blurb shadow */
}

.blurb h3 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.blurb p {
  font-size: 1em;
  line-height: 1.6;
  color: #666;
}
/* Motion background for the whole page */
.motion-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fad0c4, #fcb69f);
  background-size: 400% 400%;
  z-index: -1;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@media (max-width: 700px){
.about-content{
  display: flex;
  flex-direction: column-reverse;
  order: -1;
}

.profile-name{
  display: flex;
  justify-content: center;
}

.profile-role{
  display: flex;
  justify-content: center;
}
}