.contact-section {
    background-color: #1c1b1f;
    padding: 50px;
    display: flex;
    justify-content: center;
  }
  
  .contact-container {
    display: flex;
    background-color: #2d2c35;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .contact-info {
    background-color: #292833;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .contact-info h3 {
    color: white;
    margin-bottom: 10px;
  }
  
  .contact-info p {
    color: #bb8fee;
  }
  
  .contact-icons i {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #fff;
  }
  
  .social-icons i {
    font-size: 1.5rem;
    margin: 10px 10px 0 0;
    color: #fff;
  }
  
  .contact-form {
    background-color: #ffe5f5;
    padding: 40px;
    border-radius: 10px;
    flex: 2;
    margin-left: 20px;
  }
  
  .contact-form h2 {
    color: black;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .contact-form p {
    color: gray;
    margin-bottom: 30px;
  }
  
  .input-row {
    display: flex;
    justify-content: space-between;
  }
  
  .input-row input {
    width: 48%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  input:focus {
    outline: none;
    border-color: #bb8fee;
  }
  
  .subject {
    margin-bottom: 20px;
  }
  
  .radio-group {
    display: flex;
    justify-content: space-between;
  }
  
  .radio-group label {
    margin-right: 10px;
  }
  
  .send-btn {
    background-color: #282828;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .send-btn:hover {
    background-color: #bb8fee;
    transition: background-color 0.3s ease;
  }
  