.courses-page {
  background-color: #1f1f1f;
  color: white;
  font-family: Montserrat, sans-serif;
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px;
}

.courses-page > h2 {
  color: #e63946;
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slider {
  width: 80%;
  overflow: hidden;
  position: relative;
}

.slide {
  transition: transform 0.5s ease, opacity 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transform: scale(0.8);
}

.slide.active {
  opacity: 1;
  transform: scale(1);
  position: relative;
}

.slide.hidden {
  display: none;
}

.slider-button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}

.slider-button:hover {
  color: #e63946;
}

.prev {
  position: absolute;
  left: 10px;
}

.next {
  position: absolute;
  right: 10px;
}

@media (max-width: 800px) {
  .courses-page > h2 {
    font-size: 1.5rem;
  }

  .slider-container {
    flex-direction: column;
  }

  .slider-button {
    font-size: 1.5rem;
  }
}
