/* General Styling for the Event Section */
.img {
    height: 50%;
    width: 100%;
  }
  
  .event-section {
    padding-top: 10%;
    background-color: #1c1b1f;
    color: white;
    font-family: 'Arial', sans-serif;
    border: 1px solid #CDA0FF;
    text-align: center;
    perspective: 1000px;
    padding-bottom: 5%;
  }
  
  /* Grid Layout for Event Cards */
  .event-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
  }
  
  /* Card Styling */
  .eventcard {
    background-color: #505050;
    border: 2px solid #bb8fee;
    border-radius: 10px;
    opacity: 0;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    transition: transform 0.3s ease;
  }
  
  /* Positioning the first card in the first column, second row */
  .eventcard:nth-child(1) {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    height:auto;
    /* z-index: 2; */
  }
  
  .eventcard:nth-child(2){
    grid-column: 3;
    grid-row: 1/span 2;
    height: auto; 
  }
  
  .eventcard:nth-child(3){
      grid-column: 1;
      grid-row: 1/span 2;
      height: auto;
    }

    .eventcard:nth-child(4){
      grid-column: 2;
      grid-row: 2;
      height: auto;
  
      
    }
  
  /* Animation for Cards */
  @keyframes popUp {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    50% {
      opacity: 0.5;
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes moveIn {
    0% {
      opacity: 0;
      filter: blur(10px);
      transform: translateY(100px) translateZ(-100px) scale(0.5);
    }
    70% {
      opacity: 1;
      filter: blur(0);
      transform: translateY(-20px) translateZ(0) scale(1);
    }
    100% {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0) translateZ(0) scale(1);
    }
  }
  
  /* Specific card animations */
  .eventcard.pop-up {
    animation-name: popUp;
    animation-duration: 1s;
  }
  
  .eventcard.left {
    animation-name: moveIn;
    animation-duration: 1s;
    animation-delay: 0.5s;
  }
  
  /* Responsive Design */
  @media (max-width: 800px) {
    .event-cards {
      display: flex;
      flex-direction: column;
    }
  
    .eventcard {
      width: 90%;
      margin: 0 auto;
    }
  }
  