



.footer-container {
  background-image: linear-gradient(150deg,  rgb(80, 39, 92),rgb(219, 206, 219));
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  flex-wrap: wrap; 
}

.footer-section {
  flex: 1; 
  margin: 10px;
  text-decoration: none;
}

.logo-footer {
  display: flex;
  align-items: center; 
}

.logo-img {
  width: 50px; 
  height: auto; 
  margin-right: 10px; 
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #ccc; 
}
ul{
  list-style-type: none;

}
.email-input{
  border-radius: 8px;
  height: 30px;
  border: none;
  width: 200px;
}


.quick-links li {
  text-decoration: none; /* Removes the underline */
  color: inherit;
}

.quick-links li:hover {
  cursor: pointer;
  font-size: 2rem;
  
}

.social-icons a[href*="instagram"] i {
  color: red; /* Change Instagram icon color to red */
}

/* Optional hover effect */
.social-icons a[href*="instagram"]:hover i {
  color: darkred; /* Darker red on hover */
  scale: 1.2;
}


/* fb */


.social-icons a[href*="facebook"] i {
  color: blue;
}


.social-icons a[href*="facebook"]:hover i {
  color: darkblue; 
  scale: 1.2;
}


/* linked in */

.social-icons a[href*="linkedin"] i {
  color: darkblue;
}


.social-icons a[href*="linkedin"]:hover i {
  color: darkblue; 
  scale: 1.2;
}


/* github */


.social-icons a[href*="github"] i {
  color: black;
}


.social-icons a[href*="github"]:hover i {
  color: black; 
  scale: 1.2;
}

@media (max-width: 800px) {
  .footer-content{
    display: flex;
    flex-direction: column;
    /* background: ; */
  }

  .footer-container{
    /* background: #8c8c73; */
    /* background: #8b8b70;  prefered*/
    background: linear-gradient(180deg, #a9a98c, #8c8c73, #8b8b70);

  }
}  