.footer-container {
  background-image: linear-gradient(150deg, rgb(128, 0, 0), rgb(50, 50, 50));
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: white; /* White text color for the entire footer */
}

.footer-section {
  flex: 1;
  margin: 10px;
  text-decoration: none;
  color: white; /* Ensure the text is white in the sections */
}

.logo-footer {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #ccc;
  color: white; /* White text color for footer bottom */
}

ul {
  list-style-type: none;
  color: white; /* White text color for the list items */
}

.email-input {
  border-radius: 8px;
  height: 30px;
  border: none;
  width: 200px;
}

.quick-links li {
  text-decoration: none;
  color: white; /* White text color for quick links */
}

.quick-links li:hover {
  cursor: pointer;
  font-size: 2rem;
}

.social-icons a[href*="instagram"] i {
  color: red; /* Instagram icon color */
}

/* Optional hover effect */
.social-icons a[href*="instagram"]:hover i {
  color: darkred; /* Darker red on hover */
  scale: 1.2;
}

/* fb */
.social-icons a[href*="facebook"] i {
  color: #3b5998; /* Facebook icon color */
}

.social-icons a[href*="facebook"]:hover i {
  color: #2d4373; /* Darker Facebook color */
  scale: 1.2;
}

/* linked in */
.social-icons a[href*="linkedin"] i {
  color: #0077b5; /* LinkedIn icon color */
}

.social-icons a[href*="linkedin"]:hover i {
  color: #005582; /* Darker LinkedIn color */
  scale: 1.2;
}

/* github */
.social-icons a[href*="github"] i {
  color: black;
}

.social-icons a[href*="github"]:hover i {
  color: black;
  scale: 1.2;
}

@media (max-width: 800px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    color: white; /* White text color for mobile screens */
  }

  .footer-container {
    background: linear-gradient(180deg, #51090d, #4d4d4d, #1a1a1a); /* Maroon to dark gray-black */
  }
}
