:root {
  --primary-color: #51090d; 
  /* --primary-color:#00008b; */
  --secondary-color: #800000; 
  --text-color-default: white; 
  --background-transparent: transparent; 
  --shadow-color: rgba(0, 0, 0, 0.1); 
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  background: var(--background-transparent);
  color: var(--text-color-default); 
  transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease; /* Transition for scroll effect */
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure the header is always on top */
}

.logo {
  font-weight: bold;
  font-size: large;
  font-family: Montserrat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 50px; /* Adjust size as needed */
  height: auto;
  margin-right: 10px; /* Space between logo and text */
}

.nav {
  display: flex;
  align-items: center; /* Center items vertically */
  font-family: Montserrat;
  z-index: 2;
  color: rgb(22, 20, 20);
}

.nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  text-align: justify;
  font-family: Montserrat;
  color: rgb(22, 20, 20);
}

.nav li {
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  font-family: Montserrat;
  color: rgb(22, 20, 20);
  word-spacing: 10px; /* Adds spacing between words */
}

.nav li:hover {
  scale: 1.2;
}

.menu-icon {
  display: none; /* Hidden by default */
  font-size: 24px;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav ul {
    display: none; 
    flex-direction: column;
    position: absolute; 
    background: var(--primary-color); 
    top: 80px; 
    right: 20px; 
    width: 200px; 
    padding: 10px;
  }

  .nav.active ul {
    display: flex; /* Show navigation links when active */
  }

  .menu-icon {
    display: block; /* Show menu icon on mobile */
  }
}

/* Scroll effect when header changes color */
.header.scrolled {
  background: var(--primary-color) !important; /* Teal background when scrolled */
  box-shadow: 0 4px 6px var(--shadow-color); /* Add shadow for depth */
  color: var(--text-color-default); /* Change text color to white when scrolled */
}
