.hero-section {
    margin: 0 auto;
    display: grid;
    max-width: 85rem;
    gap: 1rem;
    padding: 3.5rem 1rem;
  }
  
  @media (min-width: 640px) {
    .hero-section {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
  
  @media (min-width: 768px) {
    .hero-section {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 2rem;
    }
  }
  
  @media (min-width: 1024px) {
    .hero-section {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  
  @media (min-width: 1536px) {
    .hero-section {
      max-width: 100%;
    }
  }
  
  .hero-title {
    display: block;
    text-wrap: balance;
    font-size: 1.875rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: rgb(38, 38, 38);
    line-height: 1.2;
  }
  
  @media (prefers-color-scheme: dark) {
    .hero-title {
      color: rgb(229, 229, 229);
    }
  }
  
  @media (min-width: 640px) {
    .hero-title {
      font-size: 2.25rem;
    }
  }
  
  @media (min-width: 1024px) {
    .hero-title {
      font-size: 3.75rem;
      line-height: 1.1;
    }
  }
  
  .hero-subtitle {
    margin-top: 0.75rem;
    font-size: 1.125rem;
    text-wrap: pretty;
    line-height: 1.625;
    color: rgb(64, 64, 64);
  }
  
  @media (prefers-color-scheme: dark) {
    .hero-subtitle {
      color: rgb(33, 24, 33);
    }
  }
  
  @media (min-width: 1024px) {
    .hero-subtitle {
      width: 80%;
    }
  }
  
  .hero-buttons {
    margin-top: 1.75rem;
    display: grid;
    width: 100%;
    gap: 0.75rem;
  }
  
  @media (min-width: 640px) {
    .hero-buttons {
      display: inline-flex;
    }
  }
  
  .hero-image-container {
    display: flex;
    width: 100%;
  }
  
  .hero-image-wrapper {
    position: relative;
    top: 3rem;
    overflow: hidden;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-image {
    height: 100%;
    width: 100%;
    scale: 1;
    object-fit: cover;
    object-position: center;
    transform-origin: center; /* Rotate around the center of the image */
    transition: transform 0.1s ease-in-out; /* Smooth animation for interaction */
  }