.intro {
  background-color: #333;
  color: #fff;
  padding: 50px;
  margin-bottom: -20px;
}

.intro h1 {
  font-size: 3.5em;
  margin-top: 130px;
  margin-bottom: 30px;
<<<<<<< HEAD
  opacity: 1;
  /* text-align: left; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
=======
  text-align: left;
  font-family: Montserrat;
>>>>>>> 3014c7b479adfe810474a0ddc79421d1836acc20
}

.intro p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 30px;
  /* margin-right: 45%; */
  text-align: justify;
}

.cta-btn {
  background-color: #c25dba;

  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  align-self: center; /* Align the button to the left */
  margin-top: 20px;
  width: 20%;
  font-size: 1.2rem;
  font-weight: bold;
}
.cta-btn:hover{
  background-color: white;
  color: #c25dba;
}


@keyframes moveRight {
  0% {
    left: 10%; 
  }
  100% {
    left: 60%; 
  }
}

@keyframes moveDown {
  0% {
    bottom: 20%; 
  }
  100% {
    bottom: 5%; 
  }
}

.up {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 200px;
  height: 200px;
  background-color: #61295c;
  border-radius: 50%;
  filter: blur(30px);
  z-index: 1;

  animation: moveRight 1s ease-out forwards; 
}

.down {
<<<<<<< HEAD
  position: absolute; /* Allows precise positioning */
  bottom: 20%;        /* Move the circle down from the top */
  right: 10%;         /* Align it to the right */
  width: 400px;       /* Width for a perfect circle */
  height: 400px;      /* Same as width for a circle */
  background-color: #61295c; /* The color of the circle */
  border-radius: 50%; /* Makes it a perfect circle */
  filter: blur(30px); /* Adds the blur effect */
  z-index: 0;        /* Ensures it stays behind the text */
  animation: moveLeftRight 5s infinite alternate; /* Add animation */
  opacity: 0.8;
=======
  position: absolute;
  bottom: 20%;
  right: 10%;
  width: 400px;
  height: 400px;
  background-color: #61295c;
  border-radius: 50%;
  filter: blur(30px);
  z-index: 0;

  animation: moveDown 1s ease-out forwards;
>>>>>>> 3014c7b479adfe810474a0ddc79421d1836acc20
}


/* Animation keyframes */
@keyframes moveUpDown {
  0% { transform: translateY(0); }
  100% { transform: translateY(20px); }
}

@keyframes moveLeftRight {
  0% { transform: translateX(0); }
  100% { transform: translateX(20px); }
}

/* Responsive Design */
@media (max-width: 768px) {
  .intro h1 {
    font-size: 2.5em;
  }

  .intro p {
    font-size: 1em;
  }

  .up {
    width: 150px;  /* Adjust size for smaller screens */
    height: 150px;
    top: 9%;
  }

  .down {
    width: 300px;  /* Adjust size for smaller screens */
    height: 300px;
    top: 25%;
    right: 3%;
  }

  .cta-btn{
    width: 40%;
  }
}
