.review-container {
    margin-top: 1.5rem;
  }
  
  @media (min-width: 1024px) {
    .review-container {
      margin-top: 2.5rem;
    }
  }
  
  .review-inner {
    padding: 1.25rem 0;
  }
  
  .review-content {
    text-align: center;
  }
  
  @media (min-width: 640px) {
    .review-content {
      display: flex;
      align-items: center;
      text-align: start;
    }
  }
  
  .avatar-section {
    flex-shrink: 0;
    padding-bottom: 1.25rem;
  }
  
  @media (min-width: 640px) {
    .avatar-section {
      display: flex;
      padding-bottom: 0;
      padding-right: 1.25rem;
    }
  }
  
  .avatar-group {
    display: flex;
    justify-content: center;
    margin-right: -0.75rem;
  }
  
  .avatar-count {
    display: inline-flex;
    height: 2rem;
    width: 2rem;
    items-center: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: rgb(39, 39, 42);
    ring: 2px;
    ring-color: white;
  }
  
  @media (prefers-color-scheme: dark) {
    .avatar-count {
      background-color: rgb(24, 24, 27);
      ring-color: rgb(39, 39, 42);
    }
  }
  
  .avatar-count span {
    font-size: 0.75rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    color: white;
  }
  
  .review-divider {
    margin: 0 auto;
    height: 1px;
    width: 8rem;
    border-top: 1px solid rgb(163, 163, 163);
  }
  
  @media (prefers-color-scheme: dark) {
    .review-divider {
      border-color: rgb(115, 115, 115);
    }
  }
  
  @media (min-width: 640px) {
    .review-divider {
      margin: 0;
      height: 2rem;
      width: auto;
      border-left: 1px solid rgb(163, 163, 163);
      border-top: 0;
    }
  
    @media (prefers-color-scheme: dark) {
      .review-divider {
        border-color: rgb(115, 115, 115);
      }
    }
  }
  
  .rating-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media (min-width: 640px) {
    .rating-section {
      align-items: flex-start;
    }
  }
  
  .rating-content {
    display: flex;
    align-items: baseline;
    gap: 0.25rem;
    padding-top: 1.25rem;
  }
  
  @media (min-width: 640px) {
    .rating-content {
      padding-left: 1.25rem;
      padding-top: 0;
    }
  }
  
  .star-rating {
    display: flex;
    gap: 0.25rem;
  }
  
  .rating-text {
    color: rgb(38, 38, 38);
  }
  
  @media (prefers-color-scheme: dark) {
    .rating-text {
      color: rgb(229, 229, 229);
    }
  }
  
  .reviews-text {
    font-size: 1srem;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(34, 31, 31);
  }
  
  @media (prefers-color-scheme: dark) {
    .reviews-text {
      color: rgb(229, 229, 229);
    }
  }
  
  @media (min-width: 640px) {
    .reviews-text {
      padding-left: 1.25rem;
    }
  }