.headingS {
    font-size: 3rem;
    font-weight: bold;
    color: #282828; /* Similar to the purple header in the image */
    background: linear-gradient(180deg, #bb8fee, #dcdae2, #bb8fee); /* Three gradient colors */
    /* padding: 10px 0; */
    border-radius: 0; /* Remove rounded edges if needed */
    /* width: 100vw;  */
    text-align: center; /* Center the text */
    /* margin-left: calc(-50vw + 50%);  */
    position: relative;
    left: 50%;
    font-family: Montserrat;
  
    transform: translateX(-50%);
    z-index: 1; /* Ensure it's above other content */
  }

  /* .social-card {
    width: 110%;
    margin: 0 -15px;
  } */

  .social-cards{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto); 
  gap: 20px;
  }

  .img {
    height: 50%;
    width: auto;
  }
  
  .studio-section {
    padding: 10px;
    background-color: #F5F5DC;
    
    color: white;
    font-family: 'Arial', sans-serif;
    /* border: 1px solid #CDA0FF; */
    text-align: center;
    perspective: 1000px;
    padding-top: 15%;
  }
  
  .studio-cards {
    padding-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto); 
    gap: 20px;

  }
  
  .studiocard {
    background-color: #cecea4;
  border: 2px solid #ceeea4;
    border-radius: 10px;
    opacity: 0;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    transition: transform 0.3s ease;
  }
  
  .section-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 40px;
    border: none;
  }
  
  @keyframes popUp {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    50% {
      opacity: 0.5;
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes moveIn {
    0% {
      opacity: 0;
      filter: blur(10px);
      transform: translateY(100px) translateZ(-100px) scale(0.5);
    }
    70% {
      opacity: 1;
      filter: blur(0);
      transform: translateY(-20px) translateZ(0) scale(1);
    }
    100% {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0) translateZ(0) scale(1);
    }
  }
  
  .studiocard.pop-up {
    animation-name: popUp;
    animation-duration: 1s;
    animation-delay: 0s;
    grid-column: 1;
    grid-row: 1;
    height: 240px;
  }
  
  .studiocard.left {
    animation-name: popUp;
    animation-duration: 1s;
    animation-delay: 1s;
    grid-column: 2;
    grid-row: 1;
    height: 200px;
  }
  
  .studiocard.right {
    animation-name: popUp;
    animation-duration: 1s;
    animation-delay: 1s;
    grid-column: 3;
    grid-row: 1;
    height: 200px;
  }
  
  .studiocard:nth-child(1) {
    animation-name: moveIn;
    animation-duration: 1s;
    /* animation-delay: 2s; */
    grid-column: 2;
    grid-row: 1;
    height: auto;
  }
  
  .studiocard:nth-child(2) {
    animation-name: moveIn;
    animation-duration: 1s;
    animation-delay: 2s;
    grid-column: 1;
    grid-row: 1/span 2;
    height: auto;
  }
  
  .studiocard:nth-child(3) {
    animation-name: moveIn;
    animation-duration: 1s;
    animation-delay: 2s;
    grid-column: 3;
    grid-row: 1 / span 2;
    height: auto;
  }
  
  .studiocard:nth-child(4) {
    animation-name: moveIn;
    animation-duration: 1s;
    animation-delay: 2s;
    grid-column: 2;
    grid-row: 2;
    height: auto;
  }
  
  .studiocard:nth-child(5) {
    animation-name: moveIn;
    animation-duration: 1s;
    animation-delay: 2s;
    grid-column: 3;
    grid-row: 3;
    height: auto;
  }
  
  .studiocard:nth-child(6) {
    animation-name: moveIn;
    animation-duration: 1s;
    animation-delay: 2s;
    grid-column: 1 / span 1;
    grid-row: 3 / span 2;
    height: auto;
  }
  
  .studiocard:nth-child(7) {
    animation-name: moveIn;
    animation-duration: 1s;
    animation-delay: 2s;
    grid-column: 2;
    grid-row: 3;
    height: auto;
  }
  
  @media (max-width: 800px) {
    .studio-cards {
      display: flex;
      flex-direction: column;
    }
  
    .studiocard {
      width: 90%;
      margin: 0 auto;
    }
  
    .section-title {
      font-size: 2.5rem;
    }
  
    .studiocard.left.pop-up.left {
      order: -1;
    }
  
    .studiocard.center {
      order: 0;
    }
  }
  